[Unit]
Description=Run aw-sync on a timer

[Timer]
OnBootSec=2min
OnUnitActiveSec={{.Seconds}}s
RandomizedDelaySec=60

[Install]
WantedBy=timers.target
